scikit_image
pandas
scipy
numpy
matplotlib
b2sdk
colour_demosaicing
gradio
ipython
mlflow
Pillow
pytorch_toolbelt
rawpy
scikit_learn
segmentation_models_pytorch
tifffile
torch==1.9.0
torchvision==0.10.0
